[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
pydub = "*"
simpleaudio = "*"

[dev-packages]
ipdb = "*"
black = "*"

[requires]
python_version = "3.10"
